<body>
    <div style='border-bottom: 1px solid #333; font-size: 14px; background-color: #263c5c; color: #fff; padding: 4px; text-align: center;'><strong>{{data.subject}}</strong></div>
    <table>
      {% for key, value in data.header_fields.items() %}
      <tr>
        <th style='text-align: left;'>{{key}}:</th>
        <td>{{value}}</td>
      </tr>
      {%- endfor %}
    </table>
    {% for log in data.body_fields %}
    {% for key, value in log.items() %}
    <table>
      <tr>
        <th style='text-align: left;'>{{key}}:</th>
        <td>{{value}}</td>
      </tr>
    </table>
    <div style='width: 90%; height:2px; background-color: #263c5c;'></div><br/>
    {%- endfor %}
    {%- endfor %}
    
    <br/><br/>
    <br/><div style='font-size: 9px; border-top: 1px solid #333; width: 100%; background-color: #263c5c; color: #fff; text-align: center;'>{{data.app.name}} v{{data.app.version}} - {{data.app.description}}</div>
    </body>
    